@model FraseModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Meu nome é @Model.Name e eu tenho @Model.Age anos
    </body>
</html>